<div class="wrapper">
    <div class="center">
    <br />
    <h1>No LIVE , No LIFE</h1>
    <br />
    <h2>ユーザー編集</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
      </div>
    <br />

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    <br />

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> 文字以内</em>
        <% end %>
      </div>
      <br />

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <br />

      <div class="field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <br />

      <div class="actions">
        <%= f.submit "更新する" %>
      </div>
    <% end %>
    <br />
    <%= link_to "　戻る　", :back, class:"back-btn" %>
    <br />
    <br />
    <br />

    <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete %></p>
    <br />
    </div>
  </div>
</div>
