<div class="wrapper">
<div class="center">
<br />
<h1>No LIVE , No LIFE</h1>
<br />
<h2>新規登録</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>
<br />

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br />

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %><br />
    <em>(<%= @minimum_password_length %> 文字以内)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
<br />

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
<br />

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
<br />

<%= render "devise/shared/links" %>
</div>
</div>