<div class="wrapper">
<div class="center">
<br />
<h1>No LIVE , No LIFE</h1>
<br />
<h2>パスワードをリセットする</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "パスワードをリセットする" %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
</div>